@model FlavorOfTheMonth.Models.HomeModel
@{
    ViewBag.Title = "Home";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about flavor of the month and how you can help visit the
                @Html.ActionLink("About page", "About", "Home").
            </p>
        </div>
    </section>
}

@*Regions*@
<section>
    <h3 id="hdrRegion">Regions</h3>
    <div class="btn-group" role="group" aria-label="hdrRegion" data-toggle="buttons">
        <label class="btn btn-primary active" onclick="refresh('US')">
            <input type="radio" name="options" id="iUS" autocomplete="off" checked>US
        </label>
        <label class="btn btn-primary" onclick="refresh('EU')">
            <input type="radio" name="options" id="iEU" autocomplete="off">EU
        </label>
        <label class="btn btn-primary" onclick="refresh('KR')">
            <input type="radio" name="options" id="iKR" autocomplete="off">KR
        </label>
        <label class="btn btn-primary" onclick="refresh('TW')">
            <input type="radio" name="options" id="iTW" autocomplete="off">TW
        </label>
        <label class="btn btn-primary" onclick="refresh('CN')">
            <input type="radio" name="options" id="iCN" autocomplete="off">CN
        </label>
        <label class="btn btn-primary" onclick="refresh('SEA')">
            <input type="radio" name="options" id="iSEA" autocomplete="off">SEA
        </label>
    </div>
</section>

@*Brackets*@
<section>
    <h3 id="hdrBracket">Brackets</h3>
    <div class="btn-group" role="group" aria-label="hdrBracket" data-toggle="buttons">
        <label class="btn btn-primary active" onclick="refresh(2)">
            <input type="radio" name="options" id="i2v2" autocomplete="off" checked>2v2
        </label>
        <label class="btn btn-primary" onclick="refresh(3)">
            <input type="radio" name="options" id="i3v3" autocomplete="off">3v3
        </label>
        <label class="btn btn-primary" onclick="refresh(5)">
            <input type="radio" name="options" id="i5v5" autocomplete="off">5v5
        </label>
        <label class="btn btn-primary" onclick="refresh(15)">
            <input type="radio" name="options" id="iRBG" autocomplete="off">RBG
        </label>
    </div>
</section>

@*Filters*@
<section id="sfilter">
    @Html.Partial("RefreshFilters")
</section>

@*Teams*@
<section>
    <h3>Teams</h3>
    <table>
        <tr>
            <th>CharacterID</th>
            <th>Name</th>
            <th>Server</th>
        </tr>
        @foreach (var c in Model.Character)
        {
            <tr>
                <td>@c.CharacterID</td>
                <td>@c.Name</td>
                <td>@c.Server</td>
            </tr>
        }
    </table>

    <input id="btnAjax" name="btnAjax" type="button" value="Get Characters" />
    <div id="characters" style="background-color:lightskyblue"></div>
</section>

@*Scripts*@
<script>
    $(document).ready(function () {

        // Example AJAX functionality
        $('#btnAjax').click(function () {
            $.ajax({
                url: '/Home/GetCharacters',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'

            })
            .success(function (result) {
                $('#characters').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })
        });

        // Change dropdown text to fake functionality of a select element
        $(".dropdown-menu li a").click(function () {
            var selText = $(this).text();
            $(this).parents('.hack').find('button[data-toggle="dropdown"]').html(selText + ' <span class="caret"></span>');
        });
    });

    function refresh(a) {
        // Ajax to get new server data if a new region or bracket was picked.
        $.post('/Home/RefreshFilters', { paramObj: a }, function(result) {
            $('#sfilter').html(result);
        });

        // Client-side updates like amount of class dropdowns to display.
    }
</script>
